:root {
    color-scheme: light dark;

    --font-family: 'Helvetica Neue', Arial, sans-serif;

    --green: #4caf50;
    --red: #f44336;

    --background-color: #f5f5f5;
    --secondary-background-color: #e0e0e0;
    --text-color: #333333;

    --scrollbar-bg: #e0e0e0;
    --scrollbar-thumb: #a0a0a0;

    --button-bg: #a0a0a0;
    --button-hover-bg: #b5b5b5;
    --button-hover-text: #000000;
}

body {
    font-family: var(--font-family);

    background-color: var(--background-color);
    color: var(--text-color);
}

  /******************/
 /*** Dark theme ***/
/******************/
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1e1e1e;
        --secondary-background-color: #333;
        --text-color: #f5f5f5;

        --scrollbar-bg: #2e2e2e;
        --scrollbar-thumb: #6a6a6a;

        --button-bg: #04aa6d;
        --button-hover-bg: #ddd;
        --button-hover-text: #36454F;
  }
}